<div id="page_content">
    <div id="page_content_inner">
        <div id="usermessagespage" class="main_page">
            <h2 id="user_h2_1" md-language>Messages</h2>

            <div class="md-card user_content uk-width-large-5-10 ">
                <div class="uk-width-large uk-width-medium-1-2">
                    <ul class="md-list md-list-addon">
                        <li ng-repeat="m in Messages">
                            <div class="md-list-addon-element">
                                <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/avatars/avatar_02_tn.png" alt="" add-image-prop />
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">{{ m.Title }}</span>
                                <span class="uk-text-small uk-text-muted">{{m.Description}}</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="uk-width-large" ng-show="!IsHasMessages">
                    <h3>Oops, you have no messages yet</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" ui-sref="restricted.usercreatemessage">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>
