################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/app/components/pages/loginView.html.exclude
/app/components/pages/loginController.min.js.exclude
/app/components/pages/loginController.js.exclude
