<link rel="stylesheet" href="/app/areas/messaging/views/messagesView.css">


<div id="page_content">
    <div id="page_content_inner">
        <div id="usermessagespage" class="main_page">
            <!--<h2 id="user_h2_1" md-language>Messages</h2>-->
            <div class="uk-width-medium-8-10 uk-container-center">
                <div ng-show="IsHasMessages">
                    <div class="uk-width-large-7-10 uk-grid uk-grid-collapse pull-left" data-uk-grid-margin>

                        <div class="md-card md-card-single" single-card style="width:100%">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text large">
                                    <span id="span_usermsg_lblchat" class="uk-text-muted" md-language>Chat on</span> <a href="#">{{ SelectedMessageThread.Title }}</a>
                                    <!--<span class="user-message-section" ng-bind-html="showMessageUsers(SelectedMessageThread)"></span>-->
                                </h3>
                            </div>
                            <div class="md-card-content padding-reset">
                                <div class="chat_box_wrapper">
                                    <div class="chat_box touchscroll chat_box_colors_a" id="chat" custom-scrollbar>
                                        <div id="chat_div" class="chat_message_wrapper" ng-repeat="block in chatMessages" ng-class="{'chat_message_right': (block.UserId == loggedUserId) }" on-last-repeat>
                                            <div class="chat_user_avatar">
                                                <img class="md-user-image" ng-src="assets/img/avatars/avatar_02_tn.png" alt="" />
                                            </div>
                                            <ul class="chat_message">
                                                <li ng-repeat="message in block.Content">
                                                    <p>{{message}} <span class="chat_message_time" ng-show="$last">{{block.Date}}</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chat_submit_box" id="chat_submit_box">
                                        <form id="SendMsgForm" name="SendMsgForm" ng-submit="scopeSendMessage()">
                                            <div class="uk-input-group">

                                                <!--<input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="{{ isUserTypeMessage ? 'Yor are not longer available on this group!' : 'Send message'}}" ng-disabled="isUserTypeMessage" ng-model="SendMessageContent" md-input>-->
                                                <input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="Send message" ng-model="SendMessageContent" md-input />
                                                <span class="uk-input-group-addon">
                                                    <a ng-click="scopeSendMessage()"><i class="material-icons md-24">&#xE163;</i></a>
                                                </span>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="uk-width-large-3-10 uk-visible-large pull-left">
                        <div class="md-list-outside-wrapper">
                            <ul class="md-list md-list-addon md-list-outside">
                                <li id="msgt{{ m.Id }}" ng-repeat="m in Messages" on-last-repeat ng-click="scopeLoadMessages(m.Id);" class="{{ currentllyActiveThread == m.Id ? 'chat-li active' : 'chat-li' }}">

                                    <!--<div class="md-list-addon-element messagelistitem">
                                        <span class="element-status element-status-danger" ng-if="user.status == 'offline'"></span>
                                        <span class="element-status element-status-success" ng-if="user.status == 'online'"></span>
                                        <span class="element-status element-status-warning" ng-if="user.status == 'afk'"></span>
                                        <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/avatars/avatar_02_tn.png" alt="" add-image-prop />
                                    </div>-->

                                    <div class="md-list-content">

                                        <div class="list-content">
                                            <span class="md-list-heading">{{ m.Title }} <i class="material-icons arrow"></i> <span class="user-message-section" ng-bind-html="showMessageUsers(m, false)" ng-mouseenter="abc(m)"></span></span>
                                            <!--<span class="md-list-heading">
                                                {{ m.Title }} <i class="material-icons arrow"></i>
                                                <span class="user-message-section" ng-bind-html="showMessageUsers(m)" ng-mouseenter="abc(m)">
                                                </span>
                                            </span>-->
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">{{m.Message}}</span>
                                        </div>
                                        <!--<div class="md-list-action-placeholder"></div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="!IsHasMessages" class="no-msg-container">
                    <img src="assets/img/no-msg.png" />
                    <p class="no-msg">Oops, the messages is empty</p>
                </div>

            </div>

            <div class="md-fab-wrapper">
                <a class="md-fab md-fab-accent" ui-sref="restricted.usercreatemessage" ng-if="isUserCreateMessage">
                    <i class="material-icons">&#xE145;</i>
                </a>
            </div>

        </div>
    </div>
</div>
<!--</div>-->
<!--<div class="md-fab-wrapper" ng-controller="userMessagesController as usermessages">
    <a class="md-fab md-fab-accent" ui-sref="restricted.usercreatemessage" ng-if="usermessages.scope.isUserCreateMessage">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>-->
