input[type="file"]
{
    display: block;
}

.imageThumb
{
    height: 120px;
    width: 125px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip
{
    display: inline-block;
    margin: 10px 10px 0 0;
}

.remove
{
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover
{
    background: white;
    color: black;
}
