.login_page_wrapper { width:640px!important; clear:both; }
.mb-20 { margin-bottom:20px; }
.mb-50 { margin-bottom:50px; }
.align-right { text-align:right; }
.select-language-login { max-width: 100px;
    display: inline-block;
    width: 100px;
    float: right;
}

.sepratore { position:relative; }
.sepratore::before {
    content: "";
    position: absolute;
    left: 18px;
    height: 100%;
    border-left: 1px solid #ccc;
}


.selectize-control.single .selectize-input:after {
    border: none!important;
    content: '\e5c5';
    font-family: "Material Icons";
    font-size: 28px;
    margin-top: -12px!important;
    right: 28px;
    color: rgba(0,0,0,.3);
}
.profile { display:inline-block; vertical-align:top; margin-right:30px; }
.user-pic-placeholder { max-width:100px; display:inline-block;vertical-align:top; margin-right:15px; position:relative; }
.user-details { display:inline-block;vertical-align:top; }
.margin0 { margin:0!important; }
.edit-p { position: absolute; bottom: 10px; right: 10px; background: #299a29; padding: 5px; border-radius: 7px; }



@media only screen and (max-width: 767px) { 

    .sepratore::before { display:none; }
}