
<style>
    .right-lbl
    {
        margin-left: 10px;
        margin-top: 20px;
    }

    .img-upload-class
    {
        margin-left: 100px;
        margin-top: -45px;
    }

    .views-list
    {
        margin-right: 5px;
    }

    .wall-detail-height
    {
        height: 30px;
    }
</style>




<div id="page_content">
    <div id="page_content_inner">
        <div id="manageCompanyWall" class="main_page" ng-controller="companyWallController as wall">

            <div ng-show="isHasWalls">
                <div class="uk-position-relative">
                    <h3 id="page-title" class="heading_b uk-margin-bottom" md-language>Manage Company Walls</h3>
                    <div class="view-control views-list">
                        <a data-uk-tooltip title="Card View" ng-click="changeView('card');"><i class="material-icons " ng-class="{'active':cardview === true}">view_module</i></a>
                        <a data-uk-tooltip title="List View" ng-click="changeView('list');"><i class="material-icons" ng-class="{'active':cardview === false}">view_list</i></a>
                    </div>
                </div>

                <div id="Cardview" class="card-view" ng-show="cardview">
                    <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5 hierarchical_show" id="contact_list" hierarchical-show>
                        <div ng-repeat="wallinfo in companyWalls" data-uk-filter="" on-last-repeat class="wallinfo">
                            <div class="md-card md-card-hover">
                                <div class="md-card-head" ng-class="{ 'md-bg-cyan-600' : user.UserGroupId == 2}">
                                    <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
                                        <i class="md-icon material-icons" ng-class="{'md-icon-light' : user.UserGroupId == 2}">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav">
                                                <li><a href="#" id="a_wall_editlink" ng-click="editWallInfo(wallinfo.Id);" data-uk-modal="{target:'#dailog_create_companywall'}" md-language>Edit</a></li>
                                                <li><a id="a_wall_removelink" ng-click="deletewall(wallinfo.Id);" md-language>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="uk-text-center">
                                        <a href="/#/managecompanywallposts?wid={{ wallinfo.Id }}" id="redirect_wallpost">
                                            <img class="md-card-head-avatar" src="{{ wallinfo.WallImage }}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="md-card-content">
                                    <ul class="md-list">
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" id="span_wall_title" md-language>Title</span>
                                                <span class="uk-text-small uk-text-muted">{{ wallinfo.Title }}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" id="span_wall_description" md-language>Description</span>
                                                <span class="uk-text-small uk-text-muted wall-detail-height">{{ wallinfo.Description.length <= 80 ? wallinfo.Description : wallinfo.Description.toString().substring(0, 80) + '...' }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="Listview" class="list-view" ng-show="!cardview">
                    <div class="md-card uk-margin-medium-bottom">
                        <div class="md-card-content">
                            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2" id="th_wall_title" md-language>Title</th>
                                        <th colspan="6"></th>
                                    </tr>
                                    <tr>
                                        <th id="th_wall_description" md-language>Description</th>
                                        <th id="th_wall_active" md-language>IsActive</th>
                                        <th id="th_wall_createdon" md-language>Created Date</th>
                                        <th id="th_wall_action" md-language>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="wallinfo in companyWalls">
                                        <td>{{ wallinfo.Title }}</td>
                                        <td>{{ wallinfo.Description.length <= 50 ? wallinfo.Description : wallinfo.Description.toString().substring(0, 50) + '...' }}</td>
                                        <td>{{ wallinfo.Active }}</td>
                                        <td>{{ wallinfo.CreatedOn }}</td>
                                        <td>
                                            <a ng-click="editWallInfo(wallinfo.Id);" data-uk-modal="{target:'#dailog_create_companywall'}"><i class="material-icons">mode_edit</i></a>
                                            <a ng-click="deletewall(wallinfo.Id);"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <div class="uk-modal" id="dailog_create_companywall">
                <form id="formCompanyWall" name="formCompanyWall" ng-submit="isEditMode == false ? wall.createCompanyWall() : wall.editCompanyWall()">
                    <div class="uk-modal-dialog">
                        <button type="button" class="uk-modal-close uk-close"></button>
                        <div class="uk-modal-header">
                            <h3 id="wall_dailog_title" class="uk-modal-title" md-language>Create Company Wall </h3>
                        </div>

                        <div class="uk-form-row">

                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label id="lbl_wall_title" md-language>Title</label>
                                        <input type="text" ng-model="wall.newwall.Title" class="md-input" required md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div id="lbl_wall_pic" class="right-lbl" md-language>Wall Picture</div>
                                    <div class="img-upload-class">
                                        <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img id="customer_logo" ng-src="{{ isEditMode == false ? 'assets/img/avatars/user.png' : wall.newwall.WallImage }}" alt="user avatar" />
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div class="user_avatar_controls">
                                                <span class="btn-file">
                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                </span>
                                                <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="uk-form-row">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <label id="lbl_wall_description" for="message_input_description" md-language>Description<span class="req">*</span></label>
                                    <textarea class="md-input" id="message_input_description" ng-model="wall.newwall.Description" md-input />
                                </div>
                            </div>
                        </div>

                        <div class="uk-modal-footer uk-text-right">
                            <button id="btn_wall_cancelbtn" type="button" class="uk-button uk-modal-close" md-language>Cancel</button>
                            <button id="btn_wall_savebtn" type="submit" class="uk-button uk-button-primary" md-language>Save</button>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-show="!isHasWalls" class="no-msg-container">
                <img src="assets/img/no-msg.png" />
                <p class="no-msg">Oops, the wall is empty</p>
            </div>

        </div>
    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" data-uk-modal="{target:'#dailog_create_companywall'}">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>
