<div id="page_content">
    <div id="page_content_inner">
        <h2>Create User</h2>
        <div class="md-card user_content uk-width-large-5-10 " ng-controller="manageusersCtrl as showCase">
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label for="login_firstname">First Name</label>
                        <input class="md-input" type="text" id="login_firstname" ng-model="showCase.login_firstname" md-input />
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label for="login_lastname">Last Name</label>
                        <input class="md-input" type="text" id="login_lastname" ng-model="showCase.login_lastname" md-input />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">                        
                        <div class="uk-form-row">
                            <label>Company</label>
                            <input type="text" class="md-input" ng-model="showCase.form.input_c" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label>Title</label>
                            <input type="text" class="md-input" ng-model="showCase.form.input_c" md-input />
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label for="login_lastname">Phone Number</label>
                        <input class="md-input" type="text" id="login_lastname" ng-model="showCase.login_lastname" md-input />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>User Role</label>
                        <input type="text" config="showCase.selectize_c_config" options="showCase.selectize_c_options" ng-model="showCase.selectize_c" name="selectize_c" selectize />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>Main Language</label>
                        <input type="text" config="showCase.selectize_a_config" options="showCase.selectize_a_options" ng-model="showCase.selectize_a" name="selectize_a" selectize />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>Other Language</label>
                        <input type="text" config="showCase.selectize_b_config" options="showCase.selectize_b_options" ng-model="showCase.selectize_b" name="selectize_b" selectize />
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-1 mt-20">
                <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Save</a>            
                <a class="md-btn md-btn-primary md-btn-wave-light" ui-sref="restricted.manageusers">Cancel</a>
            </div>
        </div>
    </div>
</div>

