<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card user_content uk-width-large-5-10 ">
            <div class="uk-form-row">
                <div class="profile">
                    <h4>Profile</h4>
                </div>
                <div class="user-pic-placeholder">
                    <img src="../../../assets/img/others/user-pic.jpg" />
                    <a class="material-icons edit-p">&#xE254;</a>
                </div>
                <div class="user-details">
                    <h3>{{ vm.fullName }}</h3>
                    <p class="margin0">{{ vm.title }}</p>
                    <p class="margin0">{{ vm.companyname }}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label for="login_firstname">First Name</label>
                        <input class="md-input" type="text" id="login_firstname" ng-model="vm.login_firstname" md-input />
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label for="login_lastname">Last Name</label>
                        <input class="md-input" type="text" id="login_lastname" ng-model="vm.login_lastname" md-input />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div>Company</div>
                        <div class="uk-form-row">
                            <!--<label>Company XXXXX</label>-->
                            <input type="text" class="md-input" disabled ng-model="vm.companyname" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div>Title</div>
                        <div class="uk-form-row">
                            <!--<label>Floor Supervisor</label>-->
                            <input type="text" class="md-input" disabled ng-model="vm.title" md-input />
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label for="login_lastname">Phone Number</label>
                        <input class="md-input" type="text" id="login_phoneno" ng-model="vm.phone" md-input />
                    </div>
                </div>
            </div>


            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>Main Language</label>
                        <input type="text" config="vm.selectize_a_config" options="vm.selectize_a_options" ng-model="vm.selectize_a" name="selectize_a" selectize />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>Other Language</label>
                        <input type="text" config="vm.selectize_b_config" options="vm.selectize_b_options" ng-model="vm.selectize_b" name="selectize_b" selectize />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

