<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">Default Slider</h3>
                <div class="uk-slidenav-position" data-uk-slider="{autoplay: true,autoplayInterval: '5000'}">

                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid uk-grid-small uk-grid-width-medium-1-4 uk-grid-width-small-1-2">
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image01.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image02.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image03.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image04.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image05.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image06.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image07.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image08.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image09.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image10.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image11.jpg" alt=""></li>
                            <li style="max-height: 200px"><img src="assets/img/gallery/Image12.jpg" alt=""></li>
                        </ul>
                    </div>

                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

                </div>
            </div>
        </div>

        <h3 class="heading_a uk-margin-bottom">Center Mode</h3>
        <div class="uk-slidenav-position uk-margin-large-bottom" data-uk-slider="{center:true,autoplay: true,autoplayInterval: '3000'}">

            <div class="uk-slider-container">
                <ul class="uk-slider uk-slider-center uk-grid-width-medium-1-5 uk-grid-width-small-1-2">
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image14.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image15.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image16.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image17.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image18.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image19.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image20.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image21.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image22.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                    <li style="padding:10px;">
                        <div class="md-card">
                            <div style="height: 180px;">
                                <img src="assets/img/gallery/Image23.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <div class="md-card-content">
                                <strong>Lorem ipsum</strong><br>
                                <span class="uk-text-muted">dolor sit</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
            <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>

        </div>

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">Textual Slider</h3>
                <div class="uk-slidenav-position" data-uk-slider>

                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid uk-grid-medium uk-grid-width-medium-1-3 uk-grid-width-small-1-2">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequuntur dolorum ea eos, expedita, facere facilis fuga molestiae numquam officiis placeat provident quibusdam reiciendis repudiandae rerum similique temporibus voluptatibus? A architecto aspernatur, cum deserunt distinctio ea, eaque enim eos eveniet exercitationem facere fuga ipsa ipsam iste neque nulla omnis porro, quod repellat tempore ullam vel velit vitae? Impedit labore modi temporibus. Aliquam commodi cum earum, est excepturi, illum in iusto, modi quod recusandae reiciendis sequi vel vero! Dolorum fugit nobis odit similique, tenetur voluptatum. Alias amet atque, corporis deserunt eius, exercitationem harum, magni non pariatur perspiciatis porro quis similique.</li>
                        </ul>
                    </div>

                    <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>

                </div>
            </div>
        </div>

    </div>
</div>